<form action='/saved-bookmark' method='post'>
  <input type="text" name="bookmark_url" placeholder="Bookmark url" />
  <input type="text" name="name" placeholder="Name shortcut" />
  <input type="submit" value="Save Bookmark" />
</form>

<form action='/'>
  <input type='submit' value='Back to homepage' />
</form>