<h1>Your Bookmarks</h1>

<ul>
  <% @saved_bookmarks.each do | bookmark | %>  
    <li><a href="<%= bookmark['url'] %>"><%= bookmark["name"] %></a></li>
  <% end %>
</ul>

<form action='/'>
  <input type='submit' value='Back to homepage' />
</form>

<form action='/add-bookmark'>
  <input type='submit' value='Add Bookmark' />
</form>
